$height: 667px;

// 列表最后一个离底部的大小
$last_list_margin_bottom: 40px;

// 圆角大小
$common_radius: 1px;

// 字体大小
$font_size_17: 17px; // 一级字体
$font_size_15: 15px; // 一级字体
$font_size_13: 13px;// 二级字体
$font_size_11: 11px;// 二级字体

// 列表的宽度
$item_width: 355px;
// 列表间隔高度
$item_top_10: 10px;


// 搜索框的高度
$search_height: 46px;
